body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
	-webkit-font-smoothing: antialiased;
}
.school-slider-item img {
	width: 100%;
	border: 1px solid #eee;
	padding: 1px;
}
.school-slider-item {
	position: relative;
	margin-bottom: 20px;
}
.school-slider-item a {
	position: absolute;
	right: 0px;
	top: 0;
	font-size: 20px;
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	/*display: none;*/
}
/*.school-slider-item:hover a {*/
	/*display: inline-block;*/
/*}*/
.navbar-fixed-top, .navbar-fixed-bottom {
	z-index: 998;
}


.pt20{padding-top: 20px;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
#product-attr .btn-xs {
	margin-right: 10px;
}
.no-border {
	border: 0 none !important;
}