html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 40px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;

	background-color: #4A4849;
}
.footer p{
	margin: 0;
	line-height: 40px;
}

.yl-navbar{
	/*background: url('./i/navgationbar.png') repeat-x 0px -2px;*/
	/*调试网页风格之前的代码
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
	background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
	border-bottom: 1px solid #e5e5e5;*/
	background-color:#2e3e4e;
	color:#fff;
}
.yl-navbar a {
	/*color: #777;*/
	color:#fff;
	text-decoration: none;
	/*text-shadow: 0 1px 0 #fff;*/
}
.yl-navbar .active a{
	/*color: #555;*/
	color:#fff;
	text-decoration: none;
	/*background-color: #e5e5e5;*/
	background-color:#203040;
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);	
}

/*新增修改的样式start*/
.yl-navbar .active a:hover,
.yl-navbar .active a:focus{
	background-color:#203030;
}
/*dropdown-menu样式*/
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: #2e3e4e;
    border-color: #2e3e4e;
}

.nav li > a:hover,
.nav li > a:focus{
	background-color: #203040;
    border-color: #203040;
}
/*新增修改的样式end*/

.yl-list-group .list-group-item:first-child {
	border-radius: 0;
}
.yl-list-group .list-group-item:last-child {
	border-radius: 0;
}
.yl-panel-group a:hover, .yl-panel-group a:focus{
	text-decoration: none;
}
.yl-panel-group .panel-title {
	font-size: 14px;
}
.yl-panel-group .panel-body {
	padding: 0;
	border-bottom: 0 none;
}
.yl-panel-group .panel-body a {
	display: block;
	padding: 5px 0;
	text-indent: 25px;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
}
.yl-panel-group .panel-body a:last-child {
	border-bottom: 0 none;
}
.yl-panel-group .panel {
	border-bottom: 0 none;
}
.yl-panel-group .panel-heading, .yl-panel-group .panel {
	border-radius: 0;
}
.yl-panel-group .panel+.panel {
	margin-top: 0;
}
.yl-panel-group .icon {
	margin-right: 5px;
}
.yl-panel-group .panel-heading {
	padding: 10px;
}
.yl-footer {
	clear: both;
	margin-top: 40px;
	border-top: 1px solid #e5e5e5;
	padding: 15px 0 ;
	font-size: 14px;
	text-align: center;
	background: #4A4849;
	color: #fff;
}
.yl-form-search .form-group{
	padding-right: 10px;
}
.yl-container .panel {
	border-radius: 0;
}
.hr-user-info-table {
	max-width: 500px;
}
.hr-user-info-table .info-label{
	width: 140px;
}
.content-title {
	margin-top: 0;
}
.p20 {
	padding: 20px 0;
}
.hr-si {
	width: 200px;
}
.hr-si {
	width: 400px;
}
.hr-mi {
	width: 400px;
}

/*新增的样式风格start*/
@media (max-width: 400px) {
  .web-foot{
	font-size:11px;
  }
}
.nav .dropdown-menu li > a:hover,
.nav .dropdown-menu li > a:focus{
	background-color:#eee;
	border-color:#eee;
}
.navbar-toggle {
    border-color: #fff !important;
	background-color: #203040;
}
@media (max-width: 768px) {
  .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
}

.manage-footer{
	background-color:#233445;
}
/*侧边栏样式start*/
#center-left{
	padding: 0;
    margin-top: -29px;
}
#center-right{
	padding-bottom: 40px;
}
.sidebar {
    /*position: fixed;*/
	min-height:600px;	
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #233445;
    border-right: 1px solid #233445;
}
.sidebar ul{
	position:fixed;
}
.sidebar ul li a{	
	opacity:0.6;
	/*过渡效果*/
	-moz-transition: opacity 0.8s;	/* Firefox 4 */
	-webkit-transition: opacity 0.8s;	/* Safari 和 Chrome */
	-o-transition: opacity 0.8s;	/* Opera */
	transition: opacity 0.8s;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus{
	opacity:1;
}
.sidebar a{
	color:#D9D9D9;
}
.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}
/*侧边栏激活时的样式*/
.sidebar li.active a, 
.sidebar li.active a:hover, 
.sidebar li.active a:focus {
    opacity:1;
	background-color: #203040;
    color: #fff;
	border-left:solid 1px #0aa5c6;
	
	-moz-border-radius-topleft: 0;      /* Gecko browsers */
	-moz-border-radius-bottomleft: 0;
	
    -webkit-border-top-left-radius: 0;   /* Webkit browsers */
	-webkit-border-bottom-left-radius: 0;
	
    border-top-left-radius: 0;            /* W3C syntax */
	border-bottom-left-radius: 0;
}
/*侧边栏样式end*/

/*网页里面的侧边栏样式start*/
.sidebar-2-parent{
	padding:0;
}
.sidebar-2{
/*    position: fixed;
    top: 86px;
    bottom: 40px;
    left: 88px;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;*/
	min-height:480px;
    background-color: #fff;
}
.sidebar-2 ul li a{
	opacity:0.6;
	/*过渡效果*/
	-moz-transition: opacity 0.8s;	/* Firefox 4 */
	-webkit-transition: opacity 0.8s;	/* Safari 和 Chrome */
	-o-transition: opacity 0.8s;	/* Opera */
	transition: opacity 0.8s;
}
.sidebar-2 ul li a:hover,
.sidebar-2 ul li a:focus{
	opacity:1;
}
.sidebar-2 a{
	color:#454545;
}

.nav-sidebar-2 {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}
/*侧边栏激活时的样式*/
.sidebar-2 > li.active > a, 
.sidebar-2 > li.active > a:hover, 
.sidebar-2 > li.active > a:focus {
    opacity:1;
	background-color: #677889;
    color: #fff;
	border-left:solid 1px #0aa5c6;
	
	-moz-border-radius-topleft: 0;      /* Gecko browsers */
	-moz-border-radius-bottomleft: 0;
	
    -webkit-border-top-left-radius: 0;   /* Webkit browsers */
	-webkit-border-bottom-left-radius: 0;
	
    border-top-left-radius: 0;            /* W3C syntax */
	border-bottom-left-radius: 0;
}
.sidebar-2 li a:hover,
.sidebar-2 li a:focus{
	background-color:#eee;
	-moz-border-radius-topleft: 0;      /* Gecko browsers */
	-moz-border-radius-bottomleft: 0;
	
    -webkit-border-top-left-radius: 0;   /* Webkit browsers */
	-webkit-border-bottom-left-radius: 0;
	
    border-top-left-radius: 0;            /* W3C syntax */
	border-bottom-left-radius: 0;
}

/*应用页面文字的样式*/
.app-center-txt{
	padding-top:40px;
}
/*网页里面的侧边栏样式end*/

/*我的应用里文字的样式*/
.mg-app-img-txt{
	text-align:center;
	margin-top:10px;
}

/*顶部导航栏的激活状态的风格*/
#navbar ul .active{
	border-bottom:solid 1px rgba(243,152,0,1);
	
	-moz-border-radius-bottomleft: 0;      /* Gecko browsers */
	
    -webkit-border-bottom-left-radius: 0;   /* Webkit browsers */
	
    border-bottom-left-radius: 0;            /* W3C syntax */
}

/*新增的样式风格end*/


