body {
	padding-top: 100px;
	padding-bottom: 40px;
	background-color: #eee;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
/*.form-signin .form-control {*/
	/*position: relative;*/
	/*height: auto;*/
	/*-webkit-box-sizing: border-box;*/
	/*-moz-box-sizing: border-box;*/
	/*box-sizing: border-box;*/
	/*padding: 10px;*/
	/*font-size: 16px;*/
/*}*/
/*.form-signin .form-control:focus {*/
	/*z-index: 2;*/
/*}*/

/*.form-signin input[type="email"] {*/
	/*margin-bottom: -1px;*/
	/*border-bottom-right-radius: 0;*/
	/*border-bottom-left-radius: 0;*/
/*}*/
/*.form-signin input[type="password"] {*/
	/*margin-bottom: 10px;*/
	/*border-top-left-radius: 0;*/
	/*border-top-right-radius: 0;*/
/*}*/

.form-signin input {
	border-radius: 0;
}
.form-signin label {
	padding-top: 5px;
}
.form-signin .no-pl {
	padding-left: 0 !important;
}
.form-signin .no-pr {
	padding-right: 0 !important;
	text-align: right;
}
button {
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
}