.hrm-mail-nav {
	margin: 15px 15px 0px 0px;
}
.hrm-mail-nav a {
	text-decoration: none;
}
.hrm-mail-nav .badge {
	background-color: red;
}
.hrm-mail-nav .dropdown-menu {
	font-size: 14px;
}
.hrm-mail-nav .dropdown-menu i {
	margin-right: 10px;
}
.hrm-mail-list .media {
	/*border-bottom: 1px solid #999;*/
}
.hrm-mail-list .media.unread i.fa{
	color: #0191e1;
}
.hrm-mail-list .media.unread .media-heading {
	color: #0191e1;
}
.hrm-mail-list .media p {
	color: #999;
}
.hrm-mail-list .media .time {
	font-size: 12px;
	color: #999;
}
.hr-load-more {
	padding: 15px 0px;
	text-align: center;
}
.hr-load-more button {
	display: inline-block;
	width: 80%;
	margin: 0 auto;
}
.hrm-mail-content-title p {
	font-size: 14px;
	color: #999;
}
.hrm-mail-content-title {
	border-bottom: 1px solid #999;
}
.hrm-mail-content-body {
	padding: 20px 0px;

}
.hrm-mail-content-reply {
	clear: both;
	padding: 10px;
	text-align: center;
}
.hrm-mail-content-reply button {
	display: inline-block;
	width: 100%;
	margin: 10px auto 0px;
}
.hrm-mail-create button {
	width: 100%;
}
.hrm-loading {
	text-align: center;
	color: #7F7F7F;
}
.hrm-loading span {
	padding-left: 10px;
	font-size: 16px;
}
.hrm-mail-content-body {
	max-width: 100%;
	overflow-x: scroll;
}
.btn-orange {
	color: #fff;
	background-color: #ff7a4d;
	border-color: #ff7a4d;
}
.navbar-hr {
	background-color: #304368;
	border-color: #304368;
}
.navbar-hr a {
	color: #fff;
}
.navbar-hr .navbar-brand img{
	width: 100px;
	vertical-align: middle;
}
.navbar-hr .dropdown-menu {
	background: rgba(0, 0, 0, 0.8);
}
.navbar-hr .dropdown-menu>li>a {
	color: #fff;
}
.navbar-hr .dropdown-menu .divider{
	background: rgba(255, 255, 255, 0.8);
}
.hrm-mail-list {
	margin-left: -15px;
	margin-right: -15px;
}
.hr-mail-item {
	border-bottom: 1px solid #dddddd;
	padding: 10px 15px;
}
.hr-well {
	color: #ff7a4d;
	background-color: #fff;
}
.hr-job-content {
	/*background: url("./i/sky.jpeg") no-repeat;*/
	/*background-size: 100% 100%;*/
	/*width: 100%;*/
	/*height: 600px;*/
	/*margin-top: -20px;*/
}
/*.hr-job-content .carousel {*/
	/*width: 100%;*/
	/*height: 600px;*/
/*}*/
/*.hr-job-content .carousel .item {*/
	/*height: 600px;*/
/*}*/

.hr-job-content .hr-job-title, .hr-faq-content  .hr-job-title {
	border-left: 5px solid #ff7a4d;
	padding-left: 10px;
	color: #304368;
}
.hr-job-content p, .hr-faq-content p{
	color: #999;
}
.hr-job-content p .fa, .hr-faq-content p .fa {
	color: #304368;
}
.hr-job-content  .hr-job-user {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}
.hr-faq-content {
	border-bottom: 1px solid #999;
}
.hr-job-content  .hr-job-user h3 {
	margin-top: 10px;
}
.hr-job-detail h3.title {
	border-left: 5px solid #ff7a4d;
	padding-left: 10px;
	color: #304368;
}
.hrm-job-list, .hrm-faq-list {
	margin-left: -15px;
	margin-right: -15px;
}
.hrm-job-list .item, .hrm-faq-list .item {
	padding: 0px 15px;
	border-bottom: 1px solid #dddddd;
}
.hrm-job-list .item h3 span{
	font-size: 16px;
}
.hrm-job-list .item p, .hrm-faq-list  .item p{
	color: #999;
}
.hr-navbar-btn {
	padding-right: 15px;
	padding-left: 15px;
	/*margin-top: 10px;*/
	display: inline-block;
	height: 50px;
	line-height: 55px;
}
.hr-faq-detail {
	padding: 20px 0px;
}
.hr-header-search a{
	display: inline-block;
	float: right;
	width: 50px;
	text-align: center;
	line-height: 50px;
}
.hr-header-search .ipt {
	padding-right: 55px;
}
.hr-header-search .ipt input {
	width: 100%;
	height: 35px;
	margin-top: 8px;
	border: 1px solid #fff;
	border-radius: 2px;
}
.hr-search-history h4 {
	height: 35px;
	line-height: 35px;
	text-indent: 15px;
	font-weight: normal;
	font-size: 14px;
	margin: 0px;
	background: #f7f7f7;
	border-bottom: 1px #e5e5e5 solid;
	color: #555555;
}
.hr-search-history ul {
	padding: 0;
	margin: 0;
}
.hr-search-history ul li {
	list-style: none;
	border-bottom: 1px #e5e5e5 solid;
}
.hr-search-history ul li a {
	display: block;
	color: #aaaaaa;
	padding: 10px 15px;

	width: 100%;
}
ul.hr-home-nav {
	padding: 60px 0 0;
}
ul.hr-home-nav li {
	list-style: none;
	display: inline-block;
	width: 33%;
	text-align: center;
}
ul.hr-home-nav li  p {
	color: #555555;
}
ul.hr-home-nav li  a.link {
	width: 80px;
	height: 80px;
	display: inline-block;
	background: #ff7a4d;
	border-radius: 40px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 40px;
	line-height: 80px;
}
