body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
a:hover {
	text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a {
	/*color: #fff;*/
	color: #000;
}
.navbar-brand {
	padding: 5px 10px;
}
.navbar-brand img {
	height: 100%;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.navbar-nav>li>a {
	font-size: 16px;
	padding: 28px 0px 28px 53px;
}
.navbar-header, .navbar-brand {
	height: 76px;
}
.home-banner {
	height: 600px;
	background: url("../images/banner_yellow.png") no-repeat center center;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src="../images/banner_yellow.png",
		sizingMethod='scale');
}
.home-login {
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	margin-top: 80px;
}
.home-login-wrap {
	/*display: table;*/
	height: 100%;
	width: 340px;
	float: right;
}
.home-login .checkbox {
	margin-top: 0px;
}
.home-login .checkbox label, .home-login .checkbox a{
	color: #fff;
	font-size: 12px;
}
.home-login .ww-btn {
	margin-top: 20px;
}
.home-login-inner {
	padding: 40px 38px;
	background: url("../images/login_bg.png") repeat;
}
.home-login-inner h3{
	color: #fff;
	margin: 0px;
	margin-bottom: 20px;
}
.home-login-inner .form-control {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	box-shadow: none;
	/*border-radius: 0;
	height: 40px;*/

}
.home-login-inner .form-group {
	margin-bottom: 20px;
}
.home-banner .container {
	background: url("../images/banner_text.png") no-repeat 100px 100px;
	position: relative;
}
.home-banner .container .ww-join-btn{
	position: absolute;
	left: 200px;
	top: 360px;
	background-color: #f88624;
}
.join-us, .join-us:hover, .join-us:active, .join-us:focus,
.ww-btn, .ww-btn:hover, .ww-btn:active, .ww-btn:focus {
	border-color: #f88624;
	background-color: #f88624;
	color: #fff;
	outline: 0 none;
}
.ww-btn-yellow, .ww-btn-yellow:hover, .ww-btn-yellow:active, .ww-btn-yellow:focus {
	border-color: #ffcf0c;
	background-color: #ffcf0c;
	color: #fff;
	outline: 0 none;
}
.ww-btn-blue, .ww-btn-blue:hover, .ww-btn-blue:active, .ww-btn-blue:focus {
	border-color: #07c2ff;
	background-color: #07c2ff;
	color: #fff;
	outline: 0 none;
}

.navbar-right .ww-btn {
	padding: 5px 30px;
}
.home-step, .home-strength {
	padding: 80px 0px 40px;
}
.home-strength {
	/*border-bottom: 1px solid #cdcccc;*/
	padding-bottom: 80px;
}
.home-step {
	/*background-color: #f88624;*/
	background-color: #fafafa;
	/*color: #fff;*/
	/*border-bottom: 1px solid #cdcccc;*/
}
.home-step .list {
	/*border-right: 1px solid #ffd2ab;*/
	border-right: 1px solid #cdcccc;
}
.home-step .media {
	margin-bottom: 40px;
}
.home-step .media .media-heading, .home-strength .media .media-heading {
	font-size: 28px;
	font-weight: 400;
	display: block;
	margin-bottom: 16px;
}
.home-strength .media {
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #c3c3c3;
	padding-bottom: 15px;
}
.home-strength .media.last {
	border-bottom: 0 none;
}
.home-step .readme {
	text-align: center;
	padding-top: 50px;
}
.home-step .readme h2{
	font-size: 32px;
}
.home-step .readme p {
	/*color: #ffd2ab;*/
}
.home-strength .media .media-body {
	padding-top: 20px;
}
.home-strength .media .media-heading {
	color: #f88624;
}
.home-strength .title {
	text-align: center;
	line-height: 330px;
	font-size: 32px;
}
.home-friend {
	padding: 60px 0px 80px;
	background-color: #fafafa;
}
.home-friend .title {
	text-align: center;
	font-size: 32px;
	font-weight: 400;
}
.home-friend .logos {
	margin-top: 20px;
	text-align: center;
}
.home-friend .logos a{
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
}
.site-footer {
	/*background-color: #ffcf0c;*/
	padding: 40px 0px 20px;
	/*color: #ffffff;*/
	background: url("../images/footer.png") repeat-x;
	/*border-top: 1px solid #cdcccc;*/
	color: #b3b3b3;
}
.body-home .site-footer {
	border: 0 none;
}
.site-footer h4 {
	font-size: 14px;
	font-weight: bold;
}
.site-footer ul {
	padding: 0px;
}
.site-footer ul li {
	list-style: none;
	margin: 0px;
	line-height: 25px;
}
.site-footer ul li a{
	color: #b3b3b3;
}
.site-footer ul li a:hover {
	color: #f66617;
}
.site-footer .contact {
	text-align: center;
}
.site-footer .contact img {
	margin: 0px 0px 20px;
	width: 150px;
	max-width: 100%;
}
.site-copyright {
	height: 50px;
	line-height: 50px;
	background: #131313;
	text-align: center;
	color: #7a7a7a;
}
.site-copyright p {
	margin: 0px;
}
.join-step {
	background: #f88624;
}
.join-step h3 {
	color: #fbbc95;
	margin: 0px;
	line-height: 100px;
	text-indent: 50px;
}
.join-step h3 span {
	display: inline-block;
	text-align: center;

	height: 34px;
	width: 34px;
	vertical-align: middle;
	line-height: 30px;
	text-indent: 0;

}
.join-step h3 span {/*原来有。active*/
	border: 1px solid #fff;
	border-radius: 50%;
}
.join-step h3 {/*原来有。active*/
	color: #fff;
}
.join-step .arrow {
	position: absolute;
	bottom: -8px;
	width: 31px;
	height: 8px;
	background: url("../images/arrow.png") no-repeat;
	left: 140px;
	display: none;
}
.join-step .active .arrow{
	display: block;
}
.join-container {
	padding-top: 50px;
	padding-bottom: 50px;
}
.join-step-content .form-group {
	margin-bottom: 20px;
}
.join-step-content .help {
	color: #888888;
	font-size: 12px;
}
.join-step-content .submit {
	font-size: 16px;
	height: 40px;
}
.join-step-content em {
	font-style: normal;
}
.join-step-content label em {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	color: #ff0000;
}
.join-step-content label {
	color: #333333;
}
.join-form-wrap  .text {
	text-align: center;
	padding-top: 80px;
}
.join-form-wrap  .text h3 {
	font-size: 36px;
}
.join-form-wrap a {
	color: #07c2ff;
}
.join-form-wrap .term-link {
	text-decoration: underline;
}
.join-step-protocol .title{
	text-align: center;
	font-size: 36px;
	margin-bottom: 40px;
}
.join-step-protocol .rich-text{
	border: 1px solid #c8c8c8;
	padding: 30px;
	height: 400px;
	overflow: hidden;
	margin-bottom: 20px;
}
.join-step-license .img  img{
	width: 200px;
	max-width: 100%;
	margin-bottom: 20px;
}
.join-step-license .readme h5 {
	margin-top: 0px;
}
.join-step-license .readme ul {
	padding: 0px 0px 0px 15px;
	line-height: 21px;
}
.home-step2 {
	background: #f2f2f2;
	padding-bottom: 80px;
}
.home-step2 img {
	width: 100%;
	margin-top: -120px;
}
.ww-join-btn {
	display: inline-block;
	margin: 0 auto;
	background: #ff4910;
	color: #fff;
	padding: 5px 60px;
}
.ww-join-btn:hover, .ww-join-btn:active, .ww-join-btn:focus {
	color: #fff;
	text-decoration: none;
}
.home-friend .btn-wrap {
	padding-top: 20px;
}
.navbar-school-home {
	margin-bottom: 0px;

}
.navbar-school-home .navbar {
	margin-bottom: 0px;

}
.navbar-school-home .navbar-inverse {
	/*
	  background: url("../images/nav.png") repeat-x;
	  border: 0 none;
	*/
	background-color: #fff;

}
.navbar-school-home .navbar-header, .navbar-brand {
	height: 50px;
}
.navbar-school-home .navbar-inverse .navbar-toggle,
.navbar-school-home .navbar-inverse .navbar-toggle:hover,
.navbar-school-home .navbar-inverse .navbar-toggle:focus,
.navbar-school-home .navbar-inverse .navbar-collapse,
.navbar-school-home .navbar-inverse .navbar-form {
	background: none;
}
.navbar-school-home .navbar-nav>li>a {
	font-size: 14px;
	padding: 15px 15px
}
.navbar-school-home  li.tel, .navbar-school-home  li.split {
	line-height: 50px;
	color: #fff;
	font-size: 14px;
	padding: 0px 15px
}
.navbar-school-home  li.split {
	/*padding: 0 10px;*/
}
.navbar-school-home  li.tel i {
	font-size: 20px;
	top: 5px;
}
.school-home-banner {
	margin-top: 50px;
	position: relative;
	background:url(../images/home/banner1.jpg)  no-repeat scroll -270px 0 transparent;
	height:500px;
}
.school-home-banner .txt {
	position: absolute;
	height: 100%;
	width: 100%;
}
.school-home-banner .txt .container{
	height: 100%;
}
.school-home-banner .txt table{
	width: 100%;
	height: 100%;
}
.school-home-grey {
	background: #fafafa;
}
.school-home-fff {
	background: #fff;
}
.school-home-block {
	/*padding: 40px 0px;*/
	padding:125px 0px;
}
.school-home-block .orange {
	color: #e6500e;
}
.school-home-block p {
	color: #888888;
}
.school-home-block img {
	max-width: 100%;
}
.school-home-block .description {
	padding: 120px 0px 0px 0px;
}
/*.school-home-block .description.payment {
	padding: 200px 0px 0px;
}*/
.school-home-icons {
	text-align: center;
	padding: 20px 0px;
}
.school-home-icons img {
	width: 60px;
	/*图标旋转过渡效果*/
	-moz-transition:-moz-transform 0.3s ease-in; /* Firefox 4 */
	-webkit-transition:-webkit-transform 0.3s ease-in; /* Safari and Chrome */
	-o-transition:-o-transform 0.3s ease-in; /* Opera */
	transition:transform 0.3s ease-in;
}
.school-home-icons .item {
	/*height: 115px;*/
}
.school-join {
	display: inline-block;
	color: #ed5417;
	font-size: 24px;
	border: 1px solid #ed5417;
	padding: 3px 30px;
	border-radius: 24px;
}
.school-join:hover, .school-join:active, .school-join:focus {
	color: #ed5417;
}
.school-join.fff {
	color: #fff;
	border: 1px solid #fff;
}
.school-join.fff:hover, .school-join.fff:active, .school-join.fff:focus {
	color: #fff;
}
.school-home-txt-img {
	max-height: 100%;
	width: 80%;
}
.ww-container {
	padding-top: 40px;
	padding-bottom: 40px;
}
@media (max-width:768px) {
	.home-step .list {
		border: 0 none;
	}
	.navbar-toggle {
		border-color: #00a0e9 !important;
	}
	.navbar-school-home .navbar-inverse .navbar-collapse {
		background: #fff;
	}
	.home-step2 {
		background: #f2f2f2;
		padding-bottom: 20px;
	}
	.home-step2 img {
		width: 100%;
		margin-top: 20px;
	}

	.home-banner {
		height: 400px;
		background: url("../images/banner_yellow.png") no-repeat center center;
		/*background-size: 100%;*/
	}
	.home-login-wrap {
		width: 100%;
		display: table;
	}
	.home-banner .container {
		background: none;
	}
	.home-login {
		display: table-cell;
		vertical-align: middle;
		margin-top: 0px;

	}

	.school-home-block .description {
		padding: 100px 20px 100px;
	}

	.navbar-inverse .navbar-toggle .icon-bar{
		background-color:#00a0e9;
	}


}



.school-home-banner .checkbox label,
.school-home-banner .checkbox a,
#myModal .checkbox label,
#myModal .checkbox a {
	color: #fff;
	font-size: 12px;
}
@media (max-width: 400px) {
  .web-foot{
	font-size:11px;
  }
}

.ww-join-btn-2 {
	color: #fff;
	display: inline-block;
	margin: 0 auto;
	padding: 5px 60px;			
	background-color: #f88624;			
	display: inline-block;
	margin-top:30px;
}

.school-home-login-inner {
	padding:60px;
	/*background: url("../images/nav.png") repeat;*/
}

/*免费加入按钮效果*/
.school-join{
	transition:width 2s;
	-moz-transition:width 2s; /* Firefox 4 */
	-webkit-transition:width 2s; /* Safari and Chrome */
	-o-transition:width 2s; /* Opera */
}
.school-join:hover, .school-join:active,
.school-join:hover{
	border:none;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    padding: 3px 30px;
	background:#ed5417;
}

/*图标旋转过渡效果*/
.school-home-icons img:hover{ 
	-moz-transform:rotate(360deg); /* Firefox 4 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	-o-transform:rotate(360deg); /* Opera */
	transform:rotate(360deg);
}
/*修改导航条的激活时的样式*/
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus{
	background-color:#fff;
    color: #00a0e9;
	border-bottom:solid 2px #00a0e9;
}
@media (max-width: 768px){
	.school-home-block {
		padding: 60px 0;
	}

	.navbar-inverse .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > .active > a:hover,
	.navbar-inverse .navbar-nav > .active > a:focus {
		border-bottom:0;
	}

	.school-home-banner {
		margin-top: 50px;
		position: relative;
		background:url(../images/home/banner1.jpg)  no-repeat scroll -500px 0 transparent;
		height:500px;
	}
}
/*导航栏底部的阴影效果*/
.navbar{
	background-color: #fff;
	border-color: #ccc;
	box-shadow:0px 2px 4px 0px #ccc;
}
#nva-right  li a:hover,
#nav-right  li a:focus{
	color:#00a0e9;
}
#navbar li a:hover,
#nav-right  li a:focus{
	color:#00a0e9;
}
.home-top-btn{
	padding-top: 10px;
}
/*修改首页导航栏的高度*/
@media (max-width: 768px){
	#school-logn{
		margin-top: 0;
	}
	/*导航条下拉时的项的高度*/
	#nva-right > li > a {
		margin-top: 0;
		height: 40px;
	}
	#navbar{
		border:0;
		box-shadow:0 -1px 0 0 #ccc;
	}

}
/*登录框样式start*/
.school-home-login-inner{
	height: 470px;
	background:url(../images/login.png) no-repeat;
	background-position: center;
	background-size: 300px 470px;
}
.modal-body{
	padding: 0;
}
.modal-content{
	background: transparent;
	border: 0;
	border-radius: 0;

	-moz-box-shadow: 0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
	box-shadow: 0 0 0 rgba(0,0,0,0);
}
.ww-btn{margin-top: 55px;}
/*登录框样式end*/